body {
  background-color: #968671;
  font-family: "Lexend", sans-serif;
  overflow: hidden;
}


.form {
  margin: 25px auto;
  width: 300px;
  padding: 20px;
  display: block;
  background: #f5ece0;
  text-align: center;
  border-radius: 30px;
}

.input {
  max-width: 190px;
  padding: 0.875rem;
  font-size: 1rem;
  border: 1.5px solid #000;
  border-radius: 0.5rem;
  box-shadow: 2.5px 3px 0 #000;
  outline: none;
  transition: ease 0.25s;
}

.input:focus {
  box-shadow: 5.5px 7px 0 black;
}

.button {
  appearance: button;
  background-color: #1899d6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 19px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button:after {
  background-clip: padding-box;
  background-color: #1cb0f6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}



.button:hover:not(:disabled) {
  filter: brightness(1.1);
}

.button:disabled {
  cursor: auto;
}

.button:active:after {
  border-width: 0 0 0px;
}

.button:active {
  padding-bottom: 10px;
}

@keyframes hero-gradient-animation {
  0% {
    --s-start-0: 16%;
    --s-end-0: 78%;
    --x-0: 37%;
    --c-0: hsla(191, 56%, 59%, 1);
    --y-0: 27%;
    --y-1: 34%;
    --s-start-1: 1%;
    --s-end-1: 76%;
    --x-1: 37%;
    --c-1: hsla(238, 63%, 52%, 1);
    --c-2: hsla(222, 73%, 65%, 1);
    --y-2: 96%;
    --s-start-2: 4%;
    --s-end-2: 75%;
    --x-2: 20%;
    --x-3: 77%;
    --y-3: 74%;
    --c-3: hsla(106, 35%, 81%, 1);
    --s-start-3: 5%;
    --s-end-3: 53%;
    --x-4: 89%;
    --c-4: hsla(109, 57%, 96%, 1);
    --s-start-4: 10%;
    --s-end-4: 73%;
    --y-4: 40%;
  }

  100% {
    --s-start-0: 18%;
    --s-end-0: 69%;
    --x-0: 41%;
    --c-0: hsla(148, 51%, 92%, 1);
    --y-0: 2%;
    --y-1: 73%;
    --s-start-1: 12%;
    --s-end-1: 88%;
    --x-1: 0%;
    --c-1: hsla(200, 69%, 54%, 1);
    --c-2: hsla(204, 39%, 83%, 1);
    --y-2: 15%;
    --s-start-2: 9%;
    --s-end-2: 56%;
    --x-2: 24%;
    --x-3: 9%;
    --y-3: 15%;
    --c-3: hsla(145, 34%, 89%, 1);
    --s-start-3: 5%;
    --s-end-3: 87%;
    --x-4: 84%;
    --c-4: hsla(123, 48%, 95%, 1);
    --s-start-4: 0%;
    --s-end-4: 89%;
    --y-4: 50%;
  }
}

@property --s-start-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 16%;
}

@property --s-end-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 78%;
}

@property --x-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 37%;
}

@property --c-0 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(191, 56%, 59%, 1);
}

@property --y-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 27%;
}

@property --y-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 34%;
}

@property --s-start-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 1%;
}

@property --s-end-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 76%;
}

@property --x-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 37%;
}

@property --c-1 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(238, 63%, 52%, 1);
}

@property --c-2 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(222, 73%, 65%, 1);
}

@property --y-2 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 96%;
}

@property --s-start-2 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 4%;
}

@property --s-end-2 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 75%;
}

@property --x-2 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 20%;
}

@property --x-3 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 77%;
}

@property --y-3 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 74%;
}

@property --c-3 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(106, 35%, 81%, 1);
}

@property --s-start-3 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 5%;
}

@property --s-end-3 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 53%;
}

@property --x-4 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 89%;
}

@property --c-4 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(109, 57%, 96%, 1);
}

@property --s-start-4 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 10%;
}

@property --s-end-4 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 73%;
}

@property --y-4 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 40%;
}

.hero {
  height: 600vh;
  --x-0: 37%;
  --c-0: hsla(191, 56%, 59%, 1);
  --y-0: 27%;
  --y-1: 34%;
  --x-1: 37%;
  --c-1: hsla(238, 63%, 52%, 1);
  --c-2: hsla(222, 73%, 65%, 1);
  --y-2: 96%;
  --x-2: 20%;
  --x-3: 77%;
  --y-3: 74%;
  --c-3: hsla(106, 35%, 81%, 1);
  --x-4: 89%;
  --c-4: hsla(109, 57%, 96%, 1);
  --y-4: 40%;
  background-color: hsla(245, 56%, 88%, 1);
  background-image: radial-gradient(circle at var(--x-0) var(--y-0),
      var(--c-0) var(--s-start-0),
      transparent var(--s-end-0)),
    radial-gradient(circle at var(--x-1) var(--y-1),
      var(--c-1) var(--s-start-1),
      transparent var(--s-end-1)),
    radial-gradient(circle at var(--x-2) var(--y-2),
      var(--c-2) var(--s-start-2),
      transparent var(--s-end-2)),
    radial-gradient(circle at var(--x-3) var(--y-3),
      var(--c-3) var(--s-start-3),
      transparent var(--s-end-3)),
    radial-gradient(circle at var(--x-4) var(--y-4),
      var(--c-4) var(--s-start-4),
      transparent var(--s-end-4));
  animation: hero-gradient-animation 10s linear infinite alternate;
  background-blend-mode: normal, normal, normal, normal, normal;
}

body.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ajusta el formulario en pantallas pequeñas */
@media (max-width: 600px) {
  .form {
    width: 95vw;
    padding: 10px;
    border-radius: 15px;
  }
}